body {
    background: linear-gradient(45deg, #57003a, #43e0ff);
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    width: 100vw;
  }
  
  header {
    text-align: center;
    padding: 10px;
    font-family: 'Ubuntu';
  }
  
  h1 {
    font-size: 2em;
    color: #fff;
    font-family: 'Ubuntu';
  }
  
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    background: #000000;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 300px;
  }
  
  .card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .card .percentage {
    font-size: 3em;
    font-weight: bold;
  }
  
  .date {
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 24px;
  }
  

  .red {
    color: #ff0202;
  }
  
  .green {
    color: #10ff90;
  }

  .orange {
    color: #ff951d;
  }